<p><%= @book.title %></p>

<p><%= @book.body %></p>


<%= link_to "Edit Book", edit_book_path(@book.id) %>
<%= link_to "Delete", destroy_book_path(@book.id), method: :delet, "data-confirm" => "本当に削除しますか？" %>


